@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-main: #18122b;
    --bg-primary: #ecf2ff;
}
:before,
:after {
    box-sizing: border-box;
}
body {
    line-height: 1.5;
} */

:root {
    --bg-main: #18122b;
    --bg-primary: #ecf2ff;
}
